In [4]:
1+1

2

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Data Science Project 2024

In [6]:
df = pd.read_csv("student.csv")
df.head()

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [8]:
df.shape

(35, 5)

In [9]:
df.iloc[2]

id             3
name      Arnold
class      Three
mark          55
gender      male
Name: 2, dtype: object